.maintitle {
    position: absolute;
    padding-right: 40rem;
    margin-bottom: 20rem;
    font-size: 185px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
  }

  .maintitleline2 {
    position: absolute;
    font-size: 150px;
    padding-right: 14rem;
    margin-bottom: 0rem;
    margin-top: 8rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
  }

  .nimesh {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
  }

  body {
    width: 100%;
    height: 100vh;
  }

  #nimesh-position { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #nimesh-position path:nth-child(1) {

  }
  #nimesh-position path:nth-child(1) {
      
}
#nimesh-position path:nth-child(1) {
      
}
#nimesh-position path:nth-child(1) {
      
}
#nimesh-position path:nth-child(1) {
      
}#nimesh-position path:nth-child(1) {
      
}#nimesh-position path:nth-child(1) {
      
}#nimesh-position path:nth-child(1) {
      
}#nimesh-position path:nth-child(1) {
      
}#nimesh-position path:nth-child(1) {
      
}#nimesh-position path:nth-child(1) {
      
}#nimesh-position path:nth-child(1) {
      
}