@import "0-plugins/plugins-dir";
@import "1-base/base-dir";
@import "2-layouts/layouts-dir";
@import "3-modules/modules-dir";

// .App {
//   text-align: center;
// }

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: $maincolor;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/***********************************************************************
Background Image 
***********************************************************************/

/* .Background-Image {
  background: url(me-and-taz.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
} */

img {
  max-width: 100%;
  filter: grayscale(10%);
  opacity: 70%;
}

.leadsentence {
  position: absolute;
  font-size: 80px;
  padding-left: 5rem;
  padding-bottom: 30rem;
  /* font-family: 'Josefin Sans', sans-serif;
  font-weight: 400; */
}

.leadsentence2 {
  position: absolute;
  font-size: 80px;
  padding-right: 1rem;
  padding-bottom: 20rem;
}

.jobtitle1 {
  position: absolute;
  font-size: 30px;
  padding-top: 25rem;
  padding-right: 10rem;
}

.jobtitle2 {
  position: absolute;
  font-size: 30px;
  padding-top: 29rem;
  padding-right: 11rem;
}
/***********************************************************************/

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Monument Extended", Arial, Helvetica, sans-serif;
}

body {
  color: white;
  margin: 0;
  padding: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

header {
  box-sizing: border-box;
  min-height: 100vh;
  position: relative;
  transform-style: inherit;
  width: 100vw;
  // text-align: center;
  text-transform: uppercase;
}

header p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #282c34;
  opacity: 70%;
}

header,
header:before {
  background: 50% 50% / cover;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background: url(./Media/me-and-taz.jpeg);
  background-size: cover;
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
  min-height: 100vh;
  opacity: 65%;
  filter: grayscale(50%);
}

.container {
  z-index: 2;
  position: absolute;
  top: 100vh;
  background: black;
  line-height: 30px;
  font-weight: lighter;
  padding: 40px;
  color: grey;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


